// colors
$textColor: #6F7178;

$highlightedColor: #379ABC;
$moreHighlightedColor: #D55359;

$headerBackgroundColor: #FAFAFA;
$footerBackgroundColor: $headerBackgroundColor;

// font size
$articleTitleFontSize: 30px;
$articleH3FontSize: 23px;
$articleH4FontSize: 19px;
$articleTextFontSize: 17px;

// responsive
$breakSmall: 700px;
