// colors
$textColor: #6F7178;

$highlightedColor: #379ABC;
$moreHighlightedColor: #D55359;

$headerBackgroundColor: #FAFAFA;
$footerBackgroundColor: $headerBackgroundColor;

// font size
$articleTitleFontSize: 36px;
$articleH3FontSize: 28px;
$articleTextFontSize: 18px;

// responsive
$breakSmall: 700px;
