@import 'fonts/jaf_bernino_sans';
@import 'fonts/freight_text_pro';

.container {
  background-color: white;
}

.surface {
  @include box-sizing(border-box);
  height: 100%;
  position: absolute;
  top: 0px;
  width: 100%;
}

.screen-content, .scrolling-region {
  height: 100%;
}

.screen-content {
  overflow: auto;
  position: relative;
}

.scrolling-region {
  position: relative;
  overflow: auto;
}

.eyecatch-image-wrapper {
  height: 450px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.eyecatch-image {
  background-image: image-url('eyecatch-home.jpg');
  background-position: center center;
  background-size: cover;
  bottom: 0px;
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
}

.hero {
  text-align: center;
  height: 500px;

  &.hero-home {
    height: 380px;

    .hero-description {
      outline: 0px none;
      font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
      letter-spacing: 0.01rem;
      font-weight: 400;
      font-style: normal;
      font-size: 22px;
      margin: 0 0 10px;
      padding: 0;
    }

    .hero-title {
      font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
      font-weight: 700px;
      font-style: normal;
      font-size: 50px;
      letter-spacing: -0.04em;
      line-height: 1;
      outline: 0 none;
    }

    .hero-title, .hero-description {
      margin-bottom: 0px;
      color: #FFFFFF;
    }
  }
}

.bucket {
  padding-bottom: 30px;
}

.post-item {
  display: block;
  padding: 30px 0;
  word-wrap: break-word;
}

.post-item-title {
  & > a {
    letter-spacing: -0.02em;
    font-weight: 700;
    display: block;
    font-size: 28px;
    line-height: 1.1;
    color: #333332;
    margin-bottom: 4px;
  }
}

.post-item-snippet {
  & > p {
    letter-spacing: -0.02em;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 1.2;
    color: #666665;
    margin-bottom: 4px;
  }
}

.post-item-meta {
  color: #B3B3B1;
  font-size: 14px;
}

.post-item-meta-item {
  display: inline;

  &:before {
    content: "・";
  }

  &:first-child:before {
    content: "";
  }
}

.align-middle:before {
  content: "";
  height: 100%;
  margin-right: -0.25em;
}

.align-middle {
  &:before, .align-block {
    display: inline-block;
    vertical-align: middle;
  }
}

.layout-fill-height {
  height: 100%;
}

.layout-foreground {
  position: relative;
  z-index: 100;

  .bucket {
    padding-top: 30px;
  }
}

.layout-single-column {
  width: 640px;
  margin: 0px auto;
}

.background-white {
  background-color: #FFFFFF;
}
