@import 'globals/all';

.article-list {
  list-style-type: none;
  padding-left: 0;
}

.article-item-meta {
  color: #CDCDD1;
  list-style-type: none;
  padding-left: 0;
}

.article-title {
  font-size: $articleTitleFontSize;
  line-height: 1.4;
  margin-top: 5px;

  @include respond-to(small-screens) {
    font-size: $articleTitleFontSize * 0.8;
  }
}

.article-snippet {
  color: $textColor;
  display: block;
  font-size: $articleTextFontSize;
  font-style: italic;
  margin-top: 8px;

  &:hover {
    color: $textColor;
  }

  @include respond-to(small-screens) {
    font-size: $articleTextFontSize * 0.9;
  }
}

.article-body {
  font-size: $articleTextFontSize;

  @include respond-to(small-screens) {
    font-size: $articleTextFontSize * 0.9
  }

  h3 {
    font-size: $articleH3FontSize;
    margin-top: 60px;
    line-height: 1.4;

    @include respond-to(small-screens) {
      margin-top: 60px * 0.7;
      font-size: $articleH3FontSize * 0.9;
    }
  }

  p {
    margin-top: 35px;
    line-height: 1.9;

    @include respond-to(small-screens) {
      margin-top: 35px * 0.7;
    }
  }
}

.article-icons {
  text-align: center;
}

