@import 'globals/all';

.article {
  margin-top: 80px;

  @include respond-to(small-screens) {
    margin-top: 80px * 0.7;
  }
}

.article-list {
  list-style-type: none;
  margin-top: 40px;
  padding-bottom: 30px;
  padding-left: 0;
}

.article-item {
  margin-top: 40px;
}

.article-item-meta {
  color: #CDCDD1;
  list-style-type: none;
  padding-left: 0;
}

.article-title {
  font-size: $articleTitleFontSize;
  line-height: 1.4;
  margin-top: 5px;

  & a {
    color: $highlightedColor;

    &:hover {
      color: $moreHighlightedColor;
    }
  }

  @include respond-to(small-screens) {
    font-size: $articleTitleFontSize * 0.8;
  }
}

.article-snippet {
  display: block;
  font-size: $articleTextFontSize;
  font-style: italic;
  margin-top: 8px;

  @include respond-to(small-screens) {
    font-size: $articleTextFontSize * 0.9;
  }
}

.article-line {
  margin-top: 30px;
}

.article-body {
  font-size: $articleTextFontSize;
  margin-top: 80px;
  padding-bottom: 60px;

  @include respond-to(small-screens) {
    margin-top: 80px * 0.7;
    padding-bottom: 60px * 0.7;
    font-size: $articleTextFontSize * 0.9
  }

  & a {
    color: $highlightedColor;

    &:hover {
      color: $moreHighlightedColor;
    }
  }

  h3 {
    font-size: $articleH3FontSize;
    margin-top: 60px;
    line-height: 1.4;

    @include respond-to(small-screens) {
      margin-top: 60px * 0.7;
      font-size: $articleH3FontSize * 0.9;
    }
  }

  p {
    margin-top: 35px;
    line-height: 1.9;

    @include respond-to(small-screens) {
      margin-top: 35px * 0.7;
    }
  }
}
