@import 'globals/all';

.footer {
  background-color: $footerBackgroundColor;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-badges {
}

.badge {
  display: inline-block;
  margin-left: 3px;

  &:first-child {
    margin-left: 0;
  }
}
