.hero {
  background-color: #FAFAFA;
  text-align: center;
  padding-bottom: 60px;
}

.hero-logo {
  margin-top: 60px;
  border-radius: 48px;
  height: 96px;
  width: 96px;
}

.hero-title {
  color: #6F7178;
  font-size: 60px;
  margin-top: 5px;
  line-height: 1;
}

.hero-description {
  color: #379ABC;
  font-size: 22px;
  margin-top: 10px;
}
