@import 'globals/all';
@import 'bourbon';

.hero {
  background-color: $headerBackgroundColor;
  text-align: center;
  padding-bottom: 40px;

  @include respond-to(small-screens) {
    padding-bottom: 40px * 0.7;
  }
}

.hero-logo {
  margin-top: 50px;
  border-radius: 48px;
  height: 96px;
  width: 96px;

  @include respond-to(small-screens) {
    margin-top: 50px * 0.7;
    height: 96px * 0.8;
    width: 96px * 0.8;
    border-radius: 48px * 0.8;
  }
}

.hero-title {
  font-family: $helvetica;
  font-size: 60px;
  margin-top: 3px;
  line-height: 1;

  a {
    color: $textColor;

    &:hover {
      color: $moreHighlightedColor;
    }
  }

  @include respond-to(small-screens) {
    font-size: 60px * 0.8;
  }
}

.hero-description {
  color: $highlightedColor;
  font-size: 22px;
  margin-top: 12px;

  @include respond-to(small-screens) {
    font-size: 22px * 0.9;
  }
}

.hero-icons {
  margin-top: 25px;

  @include respond-to(small-screens) {
    margin-top: 25px * 0.7;
  }
}
