@import 'globals/all';
@import 'bourbon';

.nav {
  background-color: $headerBackgroundColor;
  height: 60px;
}

.nav-title {
  font-family: $helvetica;
  margin-top: 8px;

  a {
    color: $textColor;
    &:hover {
      color: $moreHighlightedColor;
    }
  }

  .nav-logo {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    vertical-align: middle;
  }
}

.nav-icons {
  margin-top: 15px;
}

