@import 'globals/all';

.nav {
  background-color: $headerBackgroundColor;
  height: 60px;
  line-height: 60px;
}

.nav-title {
  a:hover {
    color: $moreHighlightedColor;
  }
}

.nav-icons {
  margin-top: 6px;
}

