@import 'globals/all';

body {
  color: $textColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p, ul {
  margin: 0;
}

a {
  color: $textColor;
  text-decoration: none;
}

hr {
  border-width: 1px 0 0;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: rgba(255, 255, 255, 0.3) 0 1px 0;
  height: 1px;
}
