@import 'bourbon';
@import 'neat';
@import 'globals/all';

$max-width: em(730);

.l-container {
  @include outer-container;
  padding: 0 15px;
}

.l-left {
  @include span-columns(6);

  @include respond-to(small-screens) {
    width: 100%;
  }
}

.l-right {
  @include span-columns(6);
  text-align: right;

  @include respond-to(small-screens) {
    display: none;
  }
}


.l-row {
  margin-top: 50px;

  @include respond-to(small-screens) {
    margin-top: 50px * 0.7;
  }
}

