@import 'bourbon';
@import 'neat';
@import 'globals/all';

$max-width: em(730);

.l-container {
  @include outer-container;
  padding: 0 15px;
}

.l-nav-left {
  @include span-columns(6);
}

.l-nav-right {
  @include span-columns(6);
  text-align: right;
}

.l-footer-left {
  @include span-columns(6);

  @include respond-to(small-screens) {
    width: 100%;
  }
}

.l-footer-right {
  @include span-columns(6);
  text-align: right;

  @include respond-to(small-screens) {
    margin-top: 20px;
    width: 100%;
    text-align: left
  }
}

.l-article-container {
  padding-bottom: 60px;

  @include respond-to(small-screens) {
    padding-bottom: 60px * 0.7;
  }
}

.l-article-row {
  margin-top: 80px;

  @include respond-to(small-screens) {
    margin-top: 80px * 0.7;
  }
}

